# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build / output
.next/
out/
build/
dist/
storybook-static/

# Testing
coverage/
.nyc_output/

# Environment
.env
.env.*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Storybook
*storybook.log

# Turbo
.turbo

# Cache
.cache/
.parcel-cache/
.eslintcache

# OS
.DS_Store
Thumbs.db

# IDE / editor
.idea/
.vscode/
*.swp
*.swo
*~

# Misc
*.pem
